@charset "UTF-8";

.header {
    width: 100%;
    z-index: 500;
    background-color: #efebf1;
    box-shadow: #b698c54b 1px 3px 10px 1px;
    transition: all 300ms ease-out;
    position: fixed;
    top: 0;
    left: 0
}

.header .header-wrap {
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%
}

.header .header-wrap .logo {
    flex: 0 0 auto;
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    /*	transition: all 300ms ease-out*/
}

.header .header-wrap .logo img {
    width: 10em;
}

.nav-bg {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 350ms ease-in-out
}

/* 햄버거 누르면 사이트맵으로 들어가게~ */
.nav-bg.active {
    transition: 1800ms ease-in-out;
    opacity: 1;
    width: 80px;
    height: 80px;
    transform: scale(200)
}

.nav-bg.delay {
    transition: 600ms cubic-bezier(0.65, 0.05, 0.36, 1);
    opacity: 1
}


.header .nav .nav-list--depth1 {
    display: flex;
    align-items: center;
}

.header .nav .depth-1 {
    position: relative
}

.header .nav .depth-1 > .link {
    position: relative;
    height: 7.5rem;
    padding: 0 1.6666666667em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #b698c5;
    font-family: 'Shrikhand';
    font-size: 1.35em;
    line-height: 1.2;
    transition: all 300ms ease-out
}

.header .nav .depth-1 > .link.on,
.header .nav .depth-1 > .link:hover {
    color: #151515;
}


/* 햄버거 모양 css */
.nav-mobile__btn {
    right: 84px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-align: center;
    height: 3.125rem;
    width: 3.125rem;
    font-size: 2rem;
    z-index: 50
}

.nav-mobile__btn:hover .nav-bg {
    width: 5rem;
    height: 5rem;
    opacity: 1
}

@media (max-width: 1024px) {

    body,html{
        font-size: 6px!important;
    }
    .nav-mobile__btn {
        width: 24px;
        right: 3.3rem;
        top: 4.3rem;
    }
}

.nav-mobile__btn .bars {
    position: relative;
    display: block;
    height: 0.25rem;
    margin: 0.5rem 0;
    background-color: #b698c5;
    transition: all 300ms ease-in-out
}

.nav-mobile__btn .bars--1 {
    width: 1.25rem
}

.nav-mobile__btn .bars--2 {
    width: 2.5rem
}

.nav-mobile__btn .bars--3 {
    width: 1.25rem;
    margin: 0 0 0 auto
}

@media (max-width: 1024px) {
    .nav-mobile__btn .bars {
        height: 2px;
        margin: 7px 0
    }

    .nav-mobile__btn .bars--1 {
        width: 14px;
        margin-top: 0
    }

    .nav-mobile__btn .bars--2 {
        width: 24px
    }

    .nav-mobile__btn .bars--3 {
        width: 14px;
        margin: 0 0 0 auto
    }
}





.contact-wrap .link-list {
    max-width: 19rem;
    position: relative;
    z-index: 5;
}

.contact-wrap .link-list .item {
    padding: 1.25rem 1rem;
    border-bottom: 1px solid #b698c5;
    transition: all 300ms ease-out
}

@media (min-width: 1024.02px) {
    .contact-wrap .link-list .item:hover {
        background-color: rgba(182, 152, 197, 0.24);
    }
}

.contact-wrap .link-list .item .inner {
    position: relative;
    display: block;
    cursor: pointer !important;
}

.contact-wrap .link-list .item .inner P {
    cursor: pointer !important
}

.contact-wrap .link-list .txt {
    font-size: 2rem;
    line-height: 1;
    color: #b698c5;
    font-weight: 500;
    font-family: 'locus_sangsang';
}

.contact-wrap .link-list .icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.contact-wrap .link-list .icon-1 {
    max-width: 1.6rem
}

.contact-wrap .link-list .icon-2 {
    max-width: 1.6rem
}

@media (max-width: 1024px) {
    .contact-wrap .link-list .item {
        padding: 0 1rem;
    }

    .contact-wrap.type--sitemap .link-list {
        max-width: 100%;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }
    
    .contact-wrap.type--sitemap .link-list .item {
        width: 100%;
        max-width: 50%;
        flex: 1 0 50%;
        border-bottom: 0;
        text-align: center;
        position: relative;
    }
    
    .contact-wrap.type--sitemap .link-list .txt span {
        display: block;
    }
    
    .contact-wrap.type--sitemap .link-list .item:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #b698c5;
    }
    
    .contact-wrap.type--sitemap .link-list .item:last-child:after {
        display: none
    }
}

@media (max-width: 576px) {
    .contact-wrap .link-list {
        max-width: 100%
    }

    .contact-wrap .link-list .txt {
        font-size: 1.5rem
    }
}


/***********************************************************/
/***********************************************************/
/***********************************************************/
/***********************************************************/
/***********************************************************/


.sitemap {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2222;
    display: none
}

.sitemap__logo {
    max-width: 10rem;
    position: absolute;
    left: 5rem;
    top: 2.125rem
}

.sitemap__logo img,
.sitemap__logo svg {
    width: 100%;
}

.sitemap-close {
    max-width: 3.9375rem;
    position: absolute;
    right: 5.25rem;
    top: 2.75rem
}

.sitemap .nav-list.nav-list--depth1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sitemap .nav-list.nav-list--depth1.active .depth-1 {
    transform: translateY(0);
    opacity: 1
}

.sitemap .nav-list .depth-1 {
    transition: all 420ms ease-out;
    position: relative;
    transform: translateY(-60px);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sitemap .nav-list .depth-1:nth-child(2) {
    transition-delay: 200ms
}

.sitemap .nav-list .depth-1:nth-child(3) {
    transition-delay: 300ms
}

.sitemap .nav-list .depth-1:nth-child(4) {
    transition-delay: 400ms
}

.sitemap .nav-list .depth-1:nth-child(n+2) {
    margin-top: 2.5rem
}

.sitemap .nav-list .depth-1 > .link {
    font-size: 4.75rem;
    line-height: 1;
    color: #b698c5;
    transition: all 300ms ease-out;
    position: relative;
    display: block;
    font-family: 'Shrikhand';
    letter-spacing: 0.09rem;
}

.sitemap .nav-list .depth-1 > .link .link-txt {
    height: 4.875rem;
    transition: inherit
}

.sitemap .nav-list .depth-1 > .link .link-txt svg {
    display: block;
    margin: 0 auto;
    height: 100%;
    transition: inherit
}

.sitemap .nav-list .depth-1 > .link:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    left: -10px;
    bottom: 0;
    background-color: #b698c5;
    transition: inherit
}

@media (min-width: 1024px) {
    .sitemap .nav-list .depth-1 > .link.active:after {
        width: calc(100% + 20px)
    }

    .sitemap .nav-list .depth-1 > .link.disable {
        opacity: 0.4
    }
}

.sitemap .contact-wrap {
    position: absolute;
    right: 5rem;
    bottom: 3.75rem;
    width: 100%;
    max-width: 15.625rem
}

.sitemap .contact-wrap .link-list .item {
    padding: 1rem
}

.sitemap .contact-wrap .link-list .item .inner {
    padding-left: 0;
    padding-right: 2.85rem
}

.sitemap .contact-wrap .link-list .txt {
    font-size: 1.5rem
}

.sitemap .contact-wrap .link-list .icon {
    left: auto;
    right: 0
}

.sitemap .contact-wrap .link-list .icon--1 {
    max-width: 1.8rem
}

.sitemap .contact-wrap .link-list .icon--2 {
    max-width: 1.3125rem
}

@media (max-width: 1024px) {
    .sitemap__logo {
        max-width: 10rem;
        left: 3.3rem;
        top: 3.3rem
    }

    .sitemap-close {
        max-width: 5rem;
        right: 2.3rem;
        top: 2.3rem;
    }

    .sitemap .nav-list {
        max-width: 226px;
        width: 100%
    }

    .sitemap .nav-list .depth-1:nth-child(n+2) {
        margin-top: 40px
    }

    .sitemap .nav-list .depth-1 > .link {
        font-size: 38px;
        line-height: 1.1833333333;
        font-weight: 700
    }

    .sitemap .contact-wrap {
        max-width: 226px;
        right: auto;
        bottom: 94px;
        left: 50%;
        transform: translateX(-50%)
    }

    .contact-wrap .link-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sitemap .contact-wrap .link-list .icon {
        display: none
    }

    .sitemap .contact-wrap .link-list .item {
        padding: 0
    }

    .sitemap .contact-wrap .link-list .item .inner {
        padding-right: 0;
        width: 100%
    }

    .sitemap .contact-wrap .link-list .item:first-child .inner {
        text-align: left
    }

    .sitemap .contact-wrap .link-list .item:nth-child(2) .inner {
        text-align: right
    }

    .sitemap .contact-wrap .link-list .txt {
        font-size: 20px;
        margin-top: 0
    }
}

@media (max-width: 576px) {
    .sitemap .nav-list.nav-list--depth1 {
        top: 22.7791411043%;
        transform: translateX(-50%);
        text-align: left
    }

    .sitemap .contact-wrap {
        bottom: 11.7791411043%
    }
}

@media (max-width: 320px) {
    .sitemap .nav-list.nav-list--depth1 {
        top: 18.485915493%
    }

    .sitemap .nav-list .depth-1:nth-child(n+2) {
        margin-top: 30px
    }

    .sitemap .nav-list .depth-1 > .link {
        font-size: 50px
    }

    .sitemap .contact-wrap .link-list .txt {
        font-size: 16px
    }
}

/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

@media (max-width: 1024px) {
    .header .header-wrap {
        height: 7.6rem
    }

    .header .header-wrap .logo {
        left: 3.3rem;
        top: 4.3rem;
    }

    .header .header-wrap .logo img {
        width: 10rem
    }
}

@media (max-width: 1024px) {
    .header .nav {
        display: none !important
    }
}
