body::-webkit-scrollbar {
    width: 14px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 15%; /* 스크롤바의 길이 */
    background: #8e8ef0; /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #8e8ef04d;  /*스크롤바 뒷 배경 색상*/
}